<% @recipes.each do |recipe| %>
  <div id="recipe-card" class="cursor-pointer group grid grid-cols-7 justify-center bg-red-200 my-6 ml-[5%] p-4 w-11/12">
    <div class="mx-4 col-span-2">
      <h2 class="text-2xl font-medium"><%= recipe.name %></h2>
      <%= button_to 'Remove', recipe, method: :delete, class: 'hover:text-red-500' %>
    </div>
    <span class="col-span-4 mt-2 italic"><%= recipe.description %></span>
    <%= link_to 'View Recipe', recipe_path(id: recipe), class: 'group-hover:block hidden ml-[30%] mt-4 flex items-center justify-center rounded-full' %>
  </div>
<% end %>
<%= link_to 'New Recipe', new_user_recipe_path(user_id: current_user), class: "ml-[5%] bg-yellow-200 px-8 py-2 border-2 hover:border-yellow-500 rounded-full" %>