<!DOCTYPE html>
<html>
  <head>
    <title>RecipEasy</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-red-100">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <% if user_signed_in? %>
      <nav class="flex items-center justify-evenly mt-8 mb-4 [&>*:not(:first-child)]:mt-1 [&>*:not(:first-child)]:text-lg [&>*:not(:first-child)] -ml-16">

        <div class="text-3xl font-semibold w-fit">
          <span class=" text-yellow-500 m-0 p-0">Recip</span>
          <span class=" text-red-500 m-0 -ml-2 p-0">Easy</span>
        </div>
        <%= link_to 'Home', public_recipes_path, class: "hover:text-red-500 hover:underline" %>
        <%= link_to 'My Recipes', recipes_path, class: "hover:text-red-500 hover:underline" %>
        <%= link_to 'My Foods', foods_path, class: "hover:text-red-500 hover:underline" %>
        <%= link_to 'My Shopping List', shopping_path, class: "hover:text-red-500 hover:underline" %>
      </nav>
    <% end %>

    <%= yield %>
  </body>
</html>
